@charset "utf-8";
body {
	display: block;
	font-family: "Arial", Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.9em;
	background-color: #E5FAEE;
	line-height: 200%;

}
header{
	justify-content: left;
	text-align: left;
	background-color: #1B7C6C;
	color: #f1f1f1;
	height: 100px;
	width: 100%;
}
header h1{
  font-size: 2.5em;
}

article{
	float: left
	padding:10px 40px 20px 20px;
	margin:10px 40px 20px 20px;
	text-align: justify;
	width: 100%
}
footer {
	clear: both;
	text-align: center;
	background-color: #1B7C6C;
	color: #f1f1f1;
	height: 210px;
	width: 100%;
}
.box{
	background-color: #ffffff;
	padding: 5px 15px 5px 15px;
	margin: 5px 0px 0px 0px;
	border:2px solid #000000;
	border-radius:10px;
}
.container {
  max-width: 100%;
  padding-left:  0px;
  padding-right: 0px;
  margin-left:  0px;
}
.references{
  font-size: 0.8em;
}
a{
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}
h1 { 
    display: inline;
    font-size: 1.8em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
   
h2 {
    display: inline;
    font-size: 2.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
    
}

h3 {
    display: inline;
    font-size: 2.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

h4 {
    display: inline;
    font-size: 2.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-style: normal;
}
h {
    font-size:2vw;
}

t {
    font-size:1vw;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


table {
   width: 90%;
   border: 2px solid #1B7C6C;
   margin:5% 5% 5% 5%;
   

}
th, td {
   width: 15%;
   text-align: center;
   vertical-align: center;
   line-height: 30px;
   border: 1px solid #606060;
   border-collapse: collapse;
   border-radius:5px;
   caption-side: bottom;
}
caption {
   color: #fff;
   background: #F79F36;
   border: 2px solid #000;
   border-radius:10px
}
th {
   background: #FED669;
   padding-right: 10px;
}

div.centraTabla table {
margin: 0px;
text-align: left;
}

.img-circle {
    border-radius: 50%;
    vertical-align: middle;
    float: left;
    margin:0.5% 0% 0% 5%;
}

.img-cbm {
    vertical-align: middle;
    float: right;
    margin:1% 5% 0% 0%;
  
}
/* Style the tab buttons */
.tablink {
    background-color: #FED669;
    color: black;
    float: left;
    border: 2px solid #F79F36;
    outline: none;
    padding: 5px 5px;
    font-size: 17px;
    width: 25%;
    height: 50px;
}

.tablink::-webkit-file-upload-button{
        height:50px;
}
/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #D4B359;
}
div {
    overflow:hidden;
}
