/* ==================================================================*/
/* Body elements */
/* ==================================================================*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


/* ==================================================================*/
/* REDDIT-LIKE elements*/
/* ==================================================================*/
.reddit-like {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 10px;
}

.left-column, .center-column, .right-column {
    padding: 10px;
    border: 2px solid #dddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin: 7px 3px 3px 3px;
}

.left-column {
    width: 15%;
}

.left-column h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #ddd;
}

.center-column {
    width: 65%;
    height: 1025px;
    overflow-y: scroll;
    padding: 0 10px;
}

.right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Filters elements */

.filters {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 3px dotted #ddd;
}

.date-selector {
    text-align: right;
    padding-right: 40px;
}

.date-unique {
    margin: 10px auto;
}

/* Post elements in the center-column */

.post {
    background-color: rgb(125, 118, 128, 0.4);
    margin: 10px 0;
    padding-top: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.post p {
    margin: 10px 0 0;
}

/* ==================================================================*/
/* Calendar and Twitter elements */
/* ==================================================================*/
#calendar-container, #twitter-widget-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#calendar-container h3 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#calendar-container {
    width: 100%;
    flex: 0 0 30%
}

#twitter-widget-container {
    width: 100%;
    flex: 0 0 60%;
}

/* ==================================================================*/
/* SQL TABLE LIKE elements */
/* ==================================================================*/
/* Style for the results table */
#results-table {
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    table-layout: fixed;
}

#sql-column {
    overflow-x: auto;
}

#results-table th, #results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#results-table th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#results-table tr:hover {
    background-color: #ddd;
}

#results-table th, #results-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#results-table th:first-child, #results-table td:first-child {
    padding-left: 16px;
}

#results-table th:last-child, #results-table td:last-child {
    padding-right: 16px;
}


#results-table th:nth-child(1), #results-table td:nth-child(1) {
    max-width: 100px; 
    width: 100px;
}

/* Specific column widths for "ID" column */

#results-table th[data-header='source_table'], #results-table td[data-header='source_table'] {
    max-width: 100px; /* ID column */
    width: 100px;
}

#results-table th[data-header='id'], #results-table td[data-header='id'] {
    max-width: 50px; /* ID column */
    width: 50px;
}

#results-table th[data-header="cdsid"], #results-table td[data-header="cdsid"] {
    max-width: 250px; /* CDS ID column */
    width: 200px;
}

#results-table th[data-header="ortholog"], #results-table td[data-header="ortholog"] {
    max-width: 200px; /* Ortholog column */
    width: 100px;
}

#results-table th[data-header="associatedfunction"], #results-table td[data-header="associatedfunction"] {
    max-width: 300px; /* Associated Function column */
    width: 300px;
}
