/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
    /* border: 1px solid red !important; */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==================================================================*/
/* ==================================================================*/
/* ==================================================================*/
/* Until here is the reset*/

/* ==================================================================*/
/* General elements */
/* ==================================================================*/
i {
    font-style: italic;

}


/* ==================================================================*/
/* Body elements */
/* ==================================================================*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* ==================================================================*/
/* Header elements*/
/* ==================================================================*/

header {
	background-image: url("../img/index/leish6.png");
	background-size: cover;
	background-position: center;
	height: 50px;
	display: flex;
	align-items: center;
    position: fixed;
    width: 100%;
    z-index: 6;
}

header ul {
    display: absolute;
    margin-left: 15px;
}

header li {
    margin: 0 auto;
}

header h1 {
	text-align: left;
	align-items: center;
	width: 200px;
    font-weight: 400px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header h2 {
    margin-top: 5px;
    font-size: 15px;
    letter-spacing:2px;
    font-weight: normal;
    font-style: italic;
}

/* ==================================================================*/
/* Upper navigation bar elements*/
/* ==================================================================*/
.top-menu {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 50px;
    height: 40px;
    z-index: 6;
}

nav {
    display: flex;
    background-color: #333;
    align-items: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown:hover a {
    background-color: #bf0ccc;
}

nav .dropdown-content a:hover {
    background-color: #ddd;
    color: #333;
}

/* Navigation dropdown elements */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #940fc8;
    padding: 5px;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 70%;
}

/* Navigation search bar element */
.search-bar input[type=text] {
    flex:1;
    width: 1000px;
    padding: 5px 10px;
    margin: 0px 0;
    margin-right: 10px;
    box-sizing: border-box;
}

/* ==================================================================*/
/* REDDIT-LIKE elements*/
/* ==================================================================*/
.reddit-like {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 10px;
}

.left-column, .center-column, .right-column {
    padding: 10px;
    border: 2px solid #dddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin: 7px 3px 3px 3px;
}

.left-column {
    width: 15%;
}

.left-column h2 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid #ddd;
}

.center-column {
    width: 65%;
    height: 1025px;
    overflow-y: scroll;
    padding: 0 10px;
}

.right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Filters elements */

.filters {
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 3px dotted #ddd;
}

.date-selector {
    text-align: right;
    padding-right: 40px;
}

.date-unique {
    margin: 10px auto;
}

/* Post elements in the center-column */

.post {
    background-color: rgb(125, 118, 128, 0.4);
    margin: 10px 0;
    padding-top: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.post h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.post p {
    margin: 10px 0 0;
}

/* ==================================================================*/
/* Footer element */
/* ==================================================================*/
footer {
    padding-top: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.contact-info a, .contact-info span {
    margin: 0 10px;
    font-size: 14px;
}

.contact-info .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.social-media {
    margin-bottom: 10px;
    margin-top: 20px;
}


.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


#bottom-banner {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto 0;
}

/* ==================================================================*/
/* Calendar and Twitter elements */
/* ==================================================================*/
#calendar-container, #twitter-widget-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#calendar-container h3 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

#calendar-container {
    width: 100%;
    flex: 0 0 30%
}

#twitter-widget-container {
    width: 100%;
    flex: 0 0 60%;
}

/* ==================================================================*/
/* SQL TABLE LIKE elements */
/* ==================================================================*/
/* Style for the results table */
#results-table {
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    table-layout: fixed;
}

#sql-column {
    overflow-x: auto;
}

#results-table th, #results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#results-table th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#results-table tr:hover {
    background-color: #ddd;
}

#results-table th, #results-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#results-table th:first-child, #results-table td:first-child {
    padding-left: 16px;
}

#results-table th:last-child, #results-table td:last-child {
    padding-right: 16px;
}


#results-table th:nth-child(1), #results-table td:nth-child(1) {
    max-width: 100px; 
    width: 100px;
}

/* Specific column widths for "ID" column */

#results-table th[data-header='source_table'], #results-table td[data-header='source_table'] {
    max-width: 100px; /* ID column */
    width: 100px;
}

#results-table th[data-header='id'], #results-table td[data-header='id'] {
    max-width: 50px; /* ID column */
    width: 50px;
}

#results-table th[data-header="cdsid"], #results-table td[data-header="cdsid"] {
    max-width: 250px; /* CDS ID column */
    width: 200px;
}

#results-table th[data-header="ortholog"], #results-table td[data-header="ortholog"] {
    max-width: 200px; /* Ortholog column */
    width: 100px;
}

#results-table th[data-header="associatedfunction"], #results-table td[data-header="associatedfunction"] {
    max-width: 300px; /* Associated Function column */
    width: 300px;
}
/* 
#results-table th:nth-child(1), #results-table td:nth-child(1) {
    max-width: 100px; 
    width: 100px;
}

#results-table th:nth-child(2), #results-table td:nth-child(2) {
    max-width: 100px; 
    width: 100px;
}

#results-table th:nth-child(2), #results-table td:nth-child(2) {
    max-width: 250px; 
    width: 250px;
}

#results-table th:nth-child(3), #results-table td:nth-child(3) {
    max-width: 250px; 
    width: 250px;
}

#results-table th:nth-child(4), #results-table td:nth-child(4) {
    max-width: 300px; 
    width: 300px;
}
 */

