html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
      -45deg,
      rgb(137, 58, 150),
      rgba(0, 119, 255, 0.7),
      rgb(137, 58, 150)
    );
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* ================================================================== */
/* Main content GRID SYSTEM*/
/* ================================================================== */

main {
    padding: 0;
    margin-top: 70px;  /* IMPORTANT for the fixed header */
    display: grid;
    grid-template-rows: 2rem 1fr 2fr;
    gap: 0.5rem;
    justify-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

/* ==================================================================*/
/* Img title element */

.img-title {
    display: flex;
    align-items: flex-start;
    height: 400px;
    border: 2px solid #dddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    margin: 7px 3px 30px 3px;
}

.img-title img {
    width: 50%;
    height: 400px;
}

.img-title article {
    margin-left: 20px;
    overflow-y: auto;
    height: 400px;
    width: 50%;
}

.img-title h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img-title p {
    font-size: 15px;
    line-height: 1.5;
    padding: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

/* ==================================================================*/
/* Table structure */
/* ==================================================================*/

/* Styles for the downloads table */
#downloads-table table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 15px;
    text-align: left;
}

#downloads-table th, #downloads-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

#downloads-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#downloads-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#downloads-table tr:hover {
    background-color: #f1f1f1;
}

#downloads-table a {
    color: #381E83;
    text-decoration: none;
}

#downloads-table a:hover {
    text-decoration: underline;
}

.download-button {
    display: inline-block;
    padding: 8px 12px;
    color: #ffffff;
    background-color: rgb(77, 36, 83, 0.6);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.download-button:hover {
    background-color: #543b93;
    color: #ffffff !important;
}


