body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    -45deg,
    rgb(137, 58, 150),
    rgba(0, 119, 255, 0.7),
    rgb(137, 58, 150)
  );
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* ================================================================== */
/* Header */
/* ================================================================== */
header, footer {
  background-color: rgb(137, 58, 150);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  text-align: center;
}

header {
  height: 10%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 3rem;
  height: auto;
}

.logo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo h4 {
  font-weight: lighter;
}

/* ================================================================== */
/* Navigation */
/* ================================================================== */
nav {
  display: flex;
  background-color: transparent;
  align-items: center;
  gap: 2rem;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: unset; /* Remove the fixed min-width */
  white-space: nowrap; /* Prevent text from wrapping */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.85rem;
  color: rgb(255, 255, 255);
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav .dropdown:hover a {
  background-color: rgb(191, 12, 204);
}

nav .dropdown-content a:hover {
  background-color: rgb(0, 117, 255);
  color: rgb(255, 255, 255);
}

/* ================================================================== */
/* Language switcher */
/* ================================================================== */
.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.language-selector select {
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  direction: rtl;
}

.language-selector select option {
  color: rgb(255, 255, 255);
  background-color: rgb(137, 58, 150);
  font-weight: bolder;
}


.language-selector img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: block;
}


/* ================================================================== */
/* Main content GRID SYSTEM*/
/* ================================================================== */

main {
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
  gap: 0.5rem;
  justify-items: center;
  flex: 1 0 auto;
}

/* ================================================================== */
/* Team-frontshow */
/* ================================================================== */
#team-frontshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

#team-frontshow-text,
.news-post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  width: 50%;
}

#team-frontshow-text-header,
#team-frontshow-button,
.news-post-title {
  display: flex;
}

#team-frontshow-text-header {
  justify-content: flex-start; /* Align to the left */
}

#team-frontshow-text-header h3,
.news-post-title h3 {
  color: rgb(255, 255, 255);
  background-color: rgb(137, 58, 150);
  padding: 0.5rem;
}

#team-frontshow-text p ,
.news-post-text p {
  text-align: justify;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 1rem;
}


#team-frontshow-button {
  justify-content: flex-end; /* Align to the right */
  align-self: flex-end; /* Ensure button is at the right edge */
  color: rgb(255, 255, 255);
  background-color: rgb(154, 113, 38);
  padding: 0.4rem;
  border-radius: 10px;
  font-size: 0.5rem;
  box-shadow: none;
  border: none;
}

#team-frontshow-button:hover {
  background-color: rgb(191, 12, 204);
  cursor: pointer;
}

/* ================================================================== */
/* Carousel */
/* ================================================================== */

#carousel-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

#carousel-slide {
  display:flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}


.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* ================================================================== */
/* Team News */
/* ================================================================== */
.middle-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(137, 58, 150),
    rgb(159, 158, 159)
  );
}

#team-news,
#post-carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#real-news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 70%;
}


.news-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* No padding because middle-box has the padding */
}

.news-post-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-post-img img{
  height: 20vw;  /* 20% of the viewport width IMPORTANT*/
  overflow: hidden;
  border-radius: 10%;
  /* flex-shrink: 0; */
  /* object-fit: cover; */
}

/* Defined above
.news-post-title {}  */

.news-post-title {
  justify-content: flex-end;
}

.flex-carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}



/* ================================================================== */
/* Footer */
/* ================================================================== */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(137, 58, 150),
    rgb(159, 158, 159)
  );
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#phone-mail,
#social-media,
#government-logos,
#map {
  width: 100%;
  display: flex;
  align-items: center;
}

#phone-mail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#phone-mail span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer span img {
  width: 1.25rem;
  height: auto;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#social-media {
  justify-content: center;
}

#social-media a img {
  width: 1.5rem;
  height: auto;
  margin: 0.5rem;
}

#government-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#government-logos img {
  height: 3.5rem;
  width: auto;  
  margin: 0.5rem 0;
  flex-shrink: 1;
}


/* ================================================================== */
/* Media queries */
/* ================================================================== */

/* Desktop WIDE */
@media only screen and (min-width: 1025px) {
  #team-frontshow {
    width: 50%;
  }
}

/* Tablet portrait mode*/
@media only screen and (min-width: 481px) and (max-width: 758px) {
  /* HEADER */
  /* ================================= */
  .logo div {
    display: none;
  }

  nav {
    gap: 0.5rem;
  }

  .language-selector {
    flex-direction: column;
  }

  .language-selector select {
    order: 1;
  }

  /* MAIN */
  /* ================================= */
  #team-frontshow {
    flex-direction: column;
  }

  #team-frontshow-text {
    width: 100%;
  }

  .news-post {
    flex-direction: column;
  }

  .news-post-img {
    width: 100%;
    order: 1;
  }

  .news-post-img img {
    width: 90%;
    height: auto;
  }

  .news-post-text {
    width: 100%;
  }
}


/* Smartphones */
@media only screen and (max-width: 480px) {
  /* HEADER */
  /* ================================= */
  .logo div {
    display: none;
  }

  .logo img {
    width: 4rem;
  }

  nav {
      flex-direction: column;
  }

  nav .dropdown-content {
    left: 100%;
    top: 0;
  }

  .language-selector {
    flex-direction: column;
  }

  .language-selector select {
    order: 1;
  }

  /* MAIN */
  /* ================================= */
  #team-frontshow {
    flex-direction: column;
    width: 90%;
  }

  #team-frontshow-text {
    width: 100%;
  }

  #real-news-container {
    width: 90%;
  }

  .news-post {
    flex-direction: column;
  }

  .news-post-img {
    width: 100%;
    order: 1;
  }

  .news-post-img img {
    width: 90%;
    height: auto;
  }

  .news-post-text {
    width: 100%;
  }

  /* FOOTER */
  /* ================================= */
  #phone-mail {
    flex-direction: column;
    gap: 0.5em;
  }

  #map {
    flex-direction: column;
    gap: 0.5em;
  }

  #government-logos {
    flex-direction: column;
    gap: 0;
  }

  
}

