html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
          -45deg,
          rgb(137, 58, 150),
          rgba(0, 119, 255, 0.7),
          rgb(137, 58, 150)
  );
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* ================================================================== */
/* Main content GRID SYSTEM*/
/* ================================================================== */
main {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 1 0 auto;
  margin-top: 70px; /* IMPORTANT for the fixed header */
}
/* ================================================================== */
/* Selector: Mission | Team | Publications */
/* ================================================================== */
#desc-genome-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  border-bottom: 5px solid rgb(191, 12, 204);
}
#desc-genome-selector a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 4px 4px;
  transition: 0.3s;
  text-decoration: none;
  width: calc(100% / 3);
  text-align: center;
}

#selector-1 {
  background-color: rgb(88, 41, 95);
  border: 10px solid rgb(88, 41, 95);
}

#selector-2 {
  background-color: rgb(137, 58, 150);
  border-top: 10px solid rgb(137, 58, 150);
  border-left: 10px solid rgb(137, 58, 150);
  border-right: 10px solid rgb(137, 58, 150);
  border-bottom: 10px solid rgb(191, 12, 204);
}

#selector-3 {
  background-color: rgb(88, 41, 95);
  border: 10px solid rgb(88, 41, 95);
}

#desc-genome-selector a:hover {
  background-color: rgb(191, 12, 204);
  border: 10px solid rgb(191, 12, 204)
}

/* ================================================================== */
/* Team-frontshow */
/* ================================================================== */
#team-frontshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#team-frontshow-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#team-frontshow-text p {
  text-align: justify;
  font-size: 0.9rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

#carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: auto; /* Fix height because of the arrows */
  justify-content: center;
  align-items: center;
}

.carousel-slide-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide-img img {
  width: 100%;
  overflow: auto;
}

.carousel-button {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ==================================================================*/
/* Team selector */
/* ==================================================================*/
.team-category-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  border-bottom: 5px solid rgb(191, 12, 204);
}

.team-category-selector button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 4px 4px;
  transition: 0.3s;
  text-decoration: none;
  width: calc(100% / 2);
  text-align: center;
  background-color: rgb(88, 41, 95);
  border: 10px solid rgb(88, 41, 95);
}

.team-category-selector button.active {
  background-color: rgb(137, 58, 150);
  border-top: 10px solid rgb(137, 58, 150);
  border-left: 10px solid rgb(137, 58, 150);
  border-right: 10px solid rgb(137, 58, 150);
  border-bottom: 10px solid rgb(191, 12, 204);
}

.meet-team {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 70px;
}

.team-member {
  display: block;
  height: 100px;
  width: 100px;
}

.team-member img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
  border: 5px solid transparent;
  border-image: linear-gradient(
          -45deg,
          rgb(137, 58, 150),
          rgba(0, 119, 255, 0.7),
          rgb(137, 58, 150)
  ) 1;
}

.team-member img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
}

/* ==================================================================*/
/* Details container */
/* ==================================================================*/
.details-container {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  text-align: center;
  background-image: url("../img/lab_team/other/molcules_black_and_white.png");
  background-size: cover;
  width: 100%;
}

.details-container img {
  width: auto;
  height: 300px;
  border-radius: 10px;
  display: none;
  margin-right: 20px;
  filter: grayscale(100%);
}

.details-container article {
  margin-top: 20px;
  max-width: 600px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* ================================================================== */
/* Media queries */
/* ================================================================== */
/*@media only screen and (min-width: 1025px) {*/

/*}*/

